.total{
    display:flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.unparsed{
    margin-top: 2rem;
}

.input{
    width: 40vw;
    height: 20vh;
    margin: auto;
    display: flex;
    padding: 2rem;
    border-radius: 10px;
    border:1px dashed blueviolet;
    align-items:center;
    justify-content: space-evenly;
}

body{
    margin: 0;
    background-color: rgb(242, 242, 248);
}

.uploadBtn{
    color: white;
    background-color: blueviolet;
    padding: 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 1rem;
}

.listWrapper{
    width: 40%;
    margin:auto;
    height: auto;
    padding: 2rem;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin-top: 2rem;
}


.listItem button{
    background-color: rgb(184, 16, 245);
    color: white;
    padding: 1rem;
    border:none;
    border-radius: 7px;
    cursor: pointer;
    margin: 1rem;
}

.listItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.listItem span{
    padding:0.5rem;
    background-color: white;
    color:blueviolet;
    margin-left:1rem;
    border-radius: 5px;
    border:1px solid blueviolet;
    cursor:pointer;
}

.parsed{
    background-color: rgb(244, 239, 248);
    border: none;
    color: rgba(0, 0, 0, 0.63);
    width: auto;
    display: flex;
    flex-direction: column;
}

.parsed table{
    border-collapse: collapse;
}

.parsed td{
    border:1px outset black;
    padding: 1rem;
}

.parsed th{
    border:1px outset black;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    background-color: blueviolet;
}

.pagination{
    display:flex;
    padding: 1rem;
    justify-content: center;
}

.pgBtn{
    padding: 1rem;
    margin-right:1rem;
    cursor:pointer;
    color:white;
    background:blueviolet;
    border:none;
    border-radius:5px;
}